#liMenu {
  border: 0;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 62px;
  max-height: 62px;
  z-index: 9999999;
  display: none;
  padding: 0;
  background: #7197bb;
  overflow: visible;
}
#liMenu * {
  font-family: sans-serif !important;
  -webkit-text-size-adjust: 100% !important;
  -ms-text-size-adjust: 100% !important;
  box-shadow: none !important;
}
#liMenu .li-badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}
#liMenu .li-top-menu {
  display: flex;
  margin: 0 3%;
}
#liMenu .li-top-menu .li-brand-container {
  display: inline-block;
  flex: none;
  width: 120px;
  height: 94%;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0 0 5px 5px;
}
#liMenu .li-top-menu .li-brand-container .li-brand {
  height: 100%;
}
#liMenu .li-top-menu .menu-items {
  flex: auto;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
  justify-content: flex-end;
  min-width: 110px;
}
#liMenu .li-top-menu .menu-items ul {
  margin: 0;
  list-style: none;
}
#liMenu .li-top-menu .menu-items ul li {
  display: inline-flex;
}
#liMenu .li-top-menu .menu-items .li-btn {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  width: 100%;
  text-decoration: none;
  margin: 0 2px;
}
#liMenu .li-top-menu .menu-items .li-btn:hover, #liMenu .li-top-menu .menu-items .li-btn.active {
  background: rgba(255, 255, 255, 0.32);
  text-decoration: none;
}
#liMenu .li-top-menu .li-user-container {
  display: inline-block;
  flex: none;
  height: 94%;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0 0 5px 5px;
  font-size: 14px;
  line-height: 14px;
  margin-left: 15px;
  width: 200px;
}
#liMenu .li-top-menu .li-user-container a,
#liMenu .li-top-menu .li-user-container a:hover {
  text-decoration: none;
}
#liMenu .li-top-menu .li-user-container a.li-bg-success:hover {
  background-color: #c1e2b3;
}
#liMenu .li-top-menu .li-user-container a.li-bg-primary:hover {
  background-color: #286090;
}
#liMenu .li-top-menu .li-user-container .li-user {
  height: 100%;
  padding: 5px 10px;
  line-height: 19px;
}
#liMenu .li-top-menu .li-user-container .li-user .logout-box {
  display: inline-block;
  position: relative;
  top: -10px;
}
#liMenu .li-top-menu .li-user-container .li-user .details {
  width: 85%;
  display: inline-block;
  line-height: 23px;
  height: 46px;
}
#liMenu .li-top-menu .li-user-container .li-user .details a {
  display: block;
  color: #7197bb;
}
#liMenu .li-top-menu .li-user-container .li-user .details a .icon-container svg {
  fill: #7197bb;
}
#liMenu .li-top-menu .li-user-container .li-user .icon-container {
  display: inline-block;
  width: 12px;
  height: 12px;
}
#liMenu .li-top-menu .li-user-container .li-user .icon-container svg {
  fill: #fff;
}

#liMenu .li-top-menu .menu {
  background: #7197bb;
  width: 100%;
}
#liMenu .li-top-menu .menu > ul {
  transition: max-height 0.25s linear;
}
#liMenu .li-top-menu .menu ul {
  margin: 0;
  padding: 0;
  text-align: right;
  width: 100%;
}
#liMenu .li-top-menu .menu li {
  transition: visibility 0.25s linear;
  display: inline-flex;
  position: relative;
  margin-left: 4px;
}
#liMenu .li-top-menu .menu .navbar-handle {
  display: none;
}
#liMenu .li-top-menu .menu .navbar-handle, #liMenu .li-top-menu .menu .navbar-handle:after, #liMenu .li-top-menu .menu .navbar-handle:before {
  border-color: #ffffff;
}
@media (max-width: 971px) {
  #liMenu .li-top-menu .menu {
    max-width: 150px;
    margin: 0 0 0 auto;
    border-radius: 0 0 4px 4px;
  }
  #liMenu .li-top-menu .menu > ul {
    max-height: 0;
    overflow: hidden;
    text-align: center;
  }
  #liMenu .li-top-menu .menu li {
    visibility: hidden;
    display: block;
    padding: 0.5em 0.6em;
    border: none;
    width: 150px;
    margin-left: 0;
  }
  #liMenu .li-top-menu .menu .navbar-handle {
    display: block;
  }
  #liMenu .li-top-menu #navbar-checkbox:checked + .menu ul {
    max-height: 300px;
  }
  #liMenu .li-top-menu #navbar-checkbox:checked + .menu li {
    visibility: visible;
    width: 100%;
  }
  #liMenu .li-top-menu #navbar-checkbox:checked + .menu li a {
    width: 100%;
  }
  #liMenu .li-top-menu #navbar-checkbox:checked + .menu .navbar-handle, #liMenu .li-top-menu #navbar-checkbox:checked + .menu .navbar-handle:after, #liMenu .li-top-menu #navbar-checkbox:checked + .menu .navbar-handle:before {
    border-color: #cbcbcb;
  }
}
@media (max-width: 490px) {
  #liMenu .li-top-menu .li-brand-container {
    display: none;
  }
  #liMenu .li-top-menu .menu {
    margin: 0 auto;
  }
  #liMenu .li-top-menu .menu .navbar-handle {
    margin: 0 auto;
  }
}
#liMenu .li-top-menu .navbar-checkbox {
  display: none;
}
#liMenu .li-top-menu .navbar-handle {
  font-size: 1.2em;
  width: 30px;
  margin: 0 15px 0 auto;
  z-index: 10;
  height: 62px;
  position: relative;
  top: 19px;
  display: block;
  border-top: 0.1333333333em solid;
}
#liMenu .li-top-menu .navbar-handle:before, #liMenu .li-top-menu .navbar-handle:after {
  position: absolute;
  left: 0;
  right: 0;
  content: " ";
  border-top: 0.1333333333em solid;
}
#liMenu .li-top-menu .navbar-handle:before {
  top: 0.3777777778em;
}
#liMenu .li-top-menu .navbar-handle:after {
  top: 0.8888888889em;
}

body.li-page {
  padding-top: 62px !important;
}
body.li-page #liMenu {
  display: inline-block !important;
  top: 0;
}
body.li-page .annotator-frame .annotator-bucket-bar {
  width: 73px;
  left: -36px;
}

.li-hypothesis-page header {
  padding-bottom: 0;
  margin-bottom: 0;
}
.li-hypothesis-page .nav-bar__content [title=Settings] {
  display: none;
}
.li-hypothesis-page .li-install-hp {
  border-left: 1px #eee solid;
}
.li-hypothesis-page .lozenge {
  background: #7197bb;
  color: #fff;
}
.li-hypothesis-page .lozenge .lozenge__content {
  padding: 5px 5px 3px 5px;
  border-radius: 4px 0 0 4px;
}
.li-hypothesis-page .lozenge .lozenge__close {
  border-radius: 0 4px 4px 0;
  padding: 2px 5px 0 5px;
}
.li-hypothesis-page .lozenge .lozenge__close svg {
  color: #fff;
}

.li-davros-page md-toolbar.md-default-theme {
  background-color: #414042;
}

.li-matrix-page .header {
  position: relative;
}

.li-dokuwiki-page #dokuwiki__usertools {
  top: 67px;
}
