body.menu-body {
  padding: 0;
  margin: 0;
  background: #7197bb;
}

* {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-shadow: none !important;
}

#liMenu {
  border: 0;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 9999999;
  display: none;
}

body.li-page {
  padding-top: 60px !important;
}
body.li-page #liMenu {
  display: inline-block !important;
  top: 0;
}

.li-top-menu {
  background: #7197bb;
  width: 98%;
  height: 100%;
  margin: 0 auto;
  text-align: right;
}
.li-top-menu .li-brand-container {
  float: left;
  margin: 0 10px;
  height: 94%;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0 0 5px 5px;
}
.li-top-menu .li-brand-container .li-brand {
  height: 100%;
}
.li-top-menu .li-btn {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 2px;
}
.li-top-menu .li-btn:hover, .li-top-menu .li-btn.active {
  background: rgba(255, 255, 255, 0.32);
  text-decoration: none;
}

.li-hypothesis-page .footer {
  background: #7197bb;
  color: #fff;
}
.li-hypothesis-page .lozenge {
  background: #7197bb;
  color: #fff;
}
.li-hypothesis-page .lozenge .lozenge__content {
  padding: 5px 5px 3px 5px;
  border-radius: 4px 0 0 4px;
}
.li-hypothesis-page .lozenge .lozenge__close {
  border-radius: 0 4px 4px 0;
  padding: 2px 5px 0 5px;
}
.li-hypothesis-page .lozenge .lozenge__close svg {
  color: #fff;
}

.li-davros-page md-toolbar.md-default-theme {
  background-color: #414042;
}

.li-matrix-page #footer {
  background: #7197bb;
}

.li-dokuwiki-page #dokuwiki__usertools {
  top: 65px;
}
