$menuHeight: 62px;
$themeBg: #7197bb;
$delay: 0.5s;

#liMenu {

  * {
    font-family: sans-serif !important;
    -webkit-text-size-adjust: 100% !important;
    -ms-text-size-adjust: 100% !important;
    box-shadow: none !important;
  }

  border: 0;
  margin: 0;

  position: fixed;
  top: 0;
  width: 100%;
  height: $menuHeight;
  max-height: $menuHeight;
  z-index: 9999999;
  display: none;

  padding: 0;
  background: $themeBg;
  overflow: visible;

  .li-badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
  }

  .li-top-menu {
    display: flex;
    margin: 0 3%;

    .li-brand-container {
      display: inline-block;
      flex: none;
      width: 120px;
      height: 94%;
      background: rgba(255, 255, 255, 0.7);
      border-radius: 0 0 5px 5px;

      .li-brand {
        height: 100%;
      }
    }

    .menu-items {
      flex: auto;
      display: flex;
      flex-direction: row;
      align-content: space-between;
      align-items: center;
      justify-content: flex-end;
      min-width: 110px;

      ul {
        margin: 0;
        list-style: none;

        li {
          display: inline-flex;
        }
      }

      .li-btn {
        display: inline-block;
        padding: 6px 12px;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #fff;
        width: 100%;

        text-decoration: none;
        margin: 0 2px;

        &:hover, &.active {
          background: rgba(255, 255, 255, 0.32);
          text-decoration: none;
        }
      }

    }

    .li-user-container {
      display: inline-block;
      flex: none;

      height: 94%;
      background: rgba(255, 255, 255, 0.7);
      border-radius: 0 0 5px 5px;
      font-size: 14px;
      line-height: 14px;
      margin-left: 15px;

      a,
      a:hover {
        text-decoration: none;
      }

      a.li-bg-success:hover {
        background-color: #c1e2b3;
      }

      a.li-bg-primary:hover {
        background-color: #286090;;
      }

      .li-user {
        height: 100%;
        padding: 5px 10px;
        line-height: 19px;

        .logout-box {
          display: inline-block;
          position: absolute;
          top: 18px;
        }

        .details {
          width: 85%;
          line-height: 23px;
          height: 46px;
          display: inline-flex;
          flex-wrap: wrap;
          flex: 1;
          align-items: center;

          a {
            display: block;
            color: #337ab7;

            .icon-container {
              svg {
                fill: #337ab7;
              }
            }
          }
        }

        .icon-container {
          display: inline-block;
          width: 14px;
          height: 14px;

          svg {
            fill: #fff;
          }
        }
      }
    }

  }

}

#liMenu {
  .li-top-menu {
    .menu {
      background: $themeBg;
      width: 100%;

      > ul {
        transition: max-height .25s linear;
      }

      ul {
        margin: 0;
        padding: 0;
        text-align: right;
        width: 100%;
      }

      li {
        transition: visibility .25s linear;
        display: inline-flex;
        position: relative;
        margin-left: 4px;
      }

      .navbar-handle {
        display: none;

        &, &:after, &:before {
          border-color: #ffffff;
        }
      }
    }

    @media (max-width: 971px) {
      .menu {
        max-width: 150px;
        margin: 0 0 0 auto;
        border-radius: 0 0 4px 4px;

        > ul {
          max-height: 0;
          overflow: hidden;
          text-align: center;
        }

        li {
          visibility: hidden;
          display: block;
          padding: 0.5em 0.6em;
          border: none;
          width: 150px;
          margin-left: 0;
        }

        .navbar-handle {
          display: block;
        }
      }

      #navbar-checkbox:checked + .menu {
        ul {
          max-height: 300px;
        }

        li {
          visibility: visible;
          width: 100%;

          a {
            width: 100%;
          }
        }

        .navbar-handle {
          &, &:after, &:before {
            border-color: #cbcbcb;
          }
        }
      }
    }

    @media (max-width: 490px) {
      .li-brand-container {
        display: none;
      }

      .menu {
        margin: 0 auto;

        .navbar-handle {
          margin: 0 auto;
        }
      }
    }

    .navbar-checkbox {
      display: none;
    }

    .navbar-handle {
      $height: 45px;
      font-size: 1.2em;
      width: 30px;
      margin: 0 15px 0 auto;
      z-index: 10;
      height: $menuHeight;
      position: relative;
      top: 19px;
      display: block;
      border-top: (1em * 6px / $height) solid;

      &:before, &:after {
        position: absolute;
        left: 0;
        right: 0;
        content: ' ';
        border-top: (1em * 6px / $height) solid;
      }

      &:before {
        top: 1em * 17px / $height;
      }

      &:after {
        top: 1em * 40px / $height;
      }
    }
  }
}

body.li-page {
  padding-top: $menuHeight !important;

  #liMenu {
    display: inline-block !important;
    top: 0;
  }

  .annotator-frame .annotator-bucket-bar {
    width: 73px;
    left: -36px;
  }
}

.li-hypothesis-page {

  header {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .nav-bar__content [title="Settings"] {
    display: none;
  }

  .li-install-hp {
    border-left: 1px #eee solid;
  }

  .lozenge {
    background: $themeBg;
    color: #fff;

    .lozenge__content {
      padding: 5px 5px 3px 5px;
      border-radius: 4px 0 0 4px;
    }

    .lozenge__close {
      border-radius: 0 4px 4px 0;
      padding: 2px 5px 0 5px;

      svg {
        color: #fff;
      }
    }
  }
}

.li-davros-page {
  md-toolbar.md-default-theme {
    background-color: #414042;
  }
}

.li-matrix-page {
  .header {
    position: relative;
  }
}

.li-dokuwiki-page {
  #dokuwiki__usertools {
    top: $menuHeight + 5;
  }
}