{% set rss_feed_url = base_url + "feed/" %}
{% set style_bundle = "front_page_css" %}

{% extends "h:templates/layouts/base.html.jinja2" %}

{% block page_title %}Hypothesis | The Internet, peer reviewed.{% endblock %}

{% block meta %}
  {{ super() }}
  <link rel='canonical' href='{{ base_url }}'>
  <link rel="chrome-webstore-item"
        href="{{ request.route_url('chrome-extension') }}">
  <link href="{{ rss_feed_url }}" rel="alternate" type="application/rss+xml">
  <meta property="og:url" content="{{ base_url }}" />
  <meta property="og:title" content="Hypothesis | Annotate the web" />
  <meta property="og:description" content="Use Hypothes.is to take personal notes or have conversations on any page online"/>
  <meta property="og:image" content="{{ base_url }}assets/images/logo_new.png" />
{% endblock %}


{% block header %}
  <header class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <nav class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-right login">
          {% if username %}
            <li><a href="{{ user_account_link }}">{{ username }}</a></li>
            <li><a href="{{ request.route_url("logout") }}">Log out</a></li>
          {% else %}
            <li><a href="{{ request.route_url('login') }}">Log in</a></li>
          {% endif %}
        </ul>
      </nav>
      {% include "h:templates/includes/flashbar.html.jinja2" %}
    </div>
  </header>
{% endblock %}

{% block content %}
  <div class="wrap container" role="document">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="jumbotron">
          <h2>Hypothesis</h2>
          <p>If you already installed Hypothesis in your browser,
            click the button below to start searching trough your annotations</p>
          <p>
            <a href="/search" class="btn btn-info btn-lg">
              <i class="h-icon-search"></i> Search annotations</a>
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 li-install-hp">
        <div class="jumbotron">

          <h2>Install Hypothesis</h2>

          <p><i class="h-icon-move"></i> Drag the button into
            your bookmarks bar then click it to launch the
            Hypothesis application.</p>
          <p>Alternatively, right click and select
            "bookmark this link." To load Hypothesis on a webpage
            or PDF, simply click on the bookmarklet in your
            bookmarks.</p>
          <p>
            <a title="Drag me to the bookmarks bar"
               data-bookmarklet-button=""
               id="js-bookmarklet-install"
               class="btn btn-primary btn-lg installer__button--draggable"
               href="javascript:(function(){window.hypothesisConfig=function(){return{showHighlights:true,appType:'bookmarklet'};};var d=document,s=d.createElement('script');s.setAttribute('src','{{ request.route_url("embed") }}');d.body.appendChild(s)})();">
            Launch Hypothesis
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  {% for url in asset_urls("front_page_js") %}
  <script src="{{ url }}"></script>
  {% endfor %}
{% endblock %}
