<!doctype html>
{% block content %}
<html>
<head>
    <meta charset="utf-8">
    <title>LiquidInvestigationApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon"
          href="__LIQUID_PROTOCOL__://__LIQUID_DOMAIN__/assets/liquid-investigations/favicon.ico">

    <link rel="stylesheet" href="__LIQUID_PROTOCOL__://__LIQUID_DOMAIN__/assets/bootstrap/css/bootstrap.min.css">

    <script type="text/javascript" src="__LIQUID_PROTOCOL__://__LIQUID_DOMAIN__/assets/jquery/jquery.min.js"></script>
    <script type="text/javascript"
            src="__LIQUID_PROTOCOL__://__LIQUID_DOMAIN__/assets/bootstrap/js/bootstrap.min.js"></script>

    <script>
        $(function () {
            $('.modal').modal({
                backdrop: 'static',
                keyboard: false
            }).show()
        });
    </script>
    <style>
        .modal {
            padding: 0 !important;
            background: #7197bb;
        }

        .modal-content {
            box-shadow: none;
            border-radius: 3px;
        }

        .control-label {
            padding-right: 0;
        }

    </style>
</head>
<body>
<div class="modal fade">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <img style="width: 25%"
                         src="__LIQUID_PROTOCOL__://__LIQUID_DOMAIN__/assets/liquid-investigations/img/li_logo.svg">
                </div>
                <hr>
                <h2 class="text-center">Welcome!</h2>

                <h4 class="text-center">Congratulations, your liquid node works! Now it's time to configure some
                    basic options.</h4>

                <br>
                <form method="post" class="form-horizontal">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="welcome-domain" class="control-label col-xs-12 col-sm-5 text-right">
                            Domain name:
                        </label>
                        <div class="col-xs-12 col-sm-5">
                            <input class="form-control input-sm" id="welcome-domain" name="domain"
                                   value="liquid.example.org" autofocus required>
                        </div>
                    </div>

                    <div class="row">
                        <hr class="col-xs-12 col-sm-10 col-sm-offset-1">
                    </div>

                    <div class="row">
                        <h4 class="col-sm-offset-5">Administrator account</h4>
                    </div>

                    <div class="form-group">
                        <label for="welcome-admin-username" class="control-label col-xs-12 col-sm-5 text-right">
                            Username:
                        </label>
                        <div class="col-xs-12 col-sm-5">
                            <input class="form-control input-sm" id="welcome-admin-username" name="admin-username"
                                   value="admin" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="welcome-admin-password" class="control-label col-xs-12 col-sm-5 text-right">
                            Password:
                        </label>
                        <div class="col-xs-12 col-sm-5">
                            <input type="password" class="form-control input-sm" id="welcome-admin-password"
                                   name="admin-password" required>
                        </div>
                    </div>

                    <div class="row">
                        <hr class="col-xs-12 col-sm-10 col-sm-offset-1">
                    </div>

                    <div class="row">
                        <h4 class="col-sm-offset-5">Hotspot</h4>
                    </div>

                    <div class="form-group">
                        <label for="welcome-admin-ssid" class="control-label col-xs-12 col-sm-5 text-right">
                            SSID:
                        </label>
                        <div class="col-xs-12 col-sm-5">
                            <input class="form-control input-sm" id="welcome-admin-ssid" name="hotspot-ssid"
                                   value="liquid" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="welcome-hotspot-password" class="control-label col-xs-12 col-sm-5 text-right">
                            Password:
                        </label>
                        <div class="col-xs-12 col-sm-5">
                            <input class="form-control input-sm" id="welcome-hotspot-password" name="hotspot-password"
                                   type="password" required>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="col-xs-12 text-right">
                            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> Apply
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

</body>
</html>

{% endblock %}
